{% load duration %}

<div class="card bg-base-100 shadow p-3 space-y-4 transform transition-all duration-300 hover:-translate-y-1 hover:shadow-md cursor-pointer rounded-xl">
  <div class="card-body gap-3">
    <!-- Header -->
    <div class="flex items-center gap-3">
      <h2 class="card-title text-lg font-semibold">{{skill.name}}</h2>
      <c-components.ui.badge_outline
        status="{{skill.status}}"
        label="{{skill.status}}"
        />
    </div>

    <!-- Description -->
    <div>
      {{skill.description.html|truncatechars_html:50|safe}}
    </div>

    <div class="divider my-1"></div>

    <!-- Footer -->
    <div class="flex justify-between text-sm text-gray-600">
      <div class="flex items-center gap-2">
        <!-- Clock icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{skill.time_spent|duration}}</span>
      </div>

      <div class="flex items-center gap-2">
        <!-- Calendar icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        <span>{{skill.reviews_count}} 
            {% if skill.reviews_count == 1 %}
                review
            {% else %}
                reviews
            {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
